---

- hosts: localhost
  gather_facts: no
  tasks:
    - fail:
        msg: "'cluster_token', 'vm_ip' or 'gateway_ip' variable are empty or null. Eg, pass it as a command line argument: '--extra-args cluster_token=a7b4aa66-9573-4906-b656-fa5db0ba0dec'"
      when:
        - cluster_token == ""
        - not cluster_token
        - vm_ip == ""
        - not vm_ip
        - gateway_ip == ""
        - not gateway_ip

- hosts: vm
  gather_facts: no
  become: true
  roles:
    - role: bootstrap
    - role: qemu

- hosts: cluster
  gather_facts: no
  become: true
  roles:
    - role: common
    - role: usb_autorunner
    - role: k3s/install

- hosts: master
  gather_facts: no
  become: true
  roles:
    - role: k3s
    - role: k3s/metallb

- hosts: node
  gather_facts: no
  become: true
  roles:
    - role: k3s

- hosts: vm
  become: true
  roles:
    - role: os_export

- hosts: vm
  tasks:
    - name: OS images ready!
      debug:
        msg:
          - "OS images are ready. They can be fetched them with:"
          - "rsync -r -e 'ssh -p {{ansible_port}}' --progress {{ansible_user}}@{{ansible_host}}:{{ os_images_artifacts_directory }}/ target/"
