---

- hosts: vm
  gather_facts: no
  become: true
  roles:
    - role: bootstrap
    - role: qemu

- hosts: cluster[0]
  gather_facts: no
  become: true
  roles:
    - role: common
    - role: usb_autorunner
    - role: k3s/install

- hosts: master
  serial: 1
  gather_facts: no
  become: true
  roles:
    - role: k3s/master

- hosts: node
  serial: 1
  gather_facts: no
  become: true
  roles:
    - role: k3s/node

- hosts: vm
  gather_facts: no
  become: true
  roles:
    - role: os_export