network:
  version: 2
  renderer: networkd
  ethernets:
    eth0:
      dhcp4: no
      addresses: [{{ rpi_static_ip }}/24]
      gateway4: {{ gateway_ip }}
      nameservers:
        addresses: [{{ gateway_ip }}, {{ public_dns_ips }}]
