---

- name: Compress the OS image
  community.general.archive:
    path: /opt/os-{{ item }}.img
    dest: "/opt/ubuntu-{{ item }}.zip"
    format: zip
  with_items:
    - "{{ groups['master'] }}"
    - "{{ groups['node'] }}"

- name: Save the current date
  set_fact:
    current_date: "{{ ansible_date_time.date }}"

- name: "Move and rename the output image to '{{ os_images_artifacts_directory }}/'"
  command: "mv /opt/ubuntu-{{ item }}.zip {{ os_images_artifacts_directory }}/ubuntu-{{ ubuntu_version }}-{{ item }}-{{ hostvars[item]['rpi_static_ip'] }}-{{ current_date }}.zip"
  with_items:
    - "{{ groups['master'] }}"
    - "{{ groups['node'] }}"
