---

- name: Create '/boot/firmware/' directory
  file:
    path: /boot/firmware/
    state: directory

- name: Configure boot options (enable cgroup)
  shell: "echo '{{ boot_options }}' > /boot/firmware/cmdline.txt"

- name: Add RTC module configuration
  blockinfile:
    path: /boot/firmware/config.txt
    block: |
      dtparam=i2c_arm=on
      dtoverlay=i2c-rtc,ds3231

- name: Install network tools
  apt:
    name: net-tools
    state: present

- name: Install I2C library
  apt:
    name: i2c-tools
    state: present

- name: Add Kubic repo
  shell: ". /etc/os-release && echo \"deb https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_${VERSION_ID}/ /\" | sudo tee /etc/apt/sources.list.d/devel:kubic:libcontainers:stable.list && curl -L https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_${VERSION_ID}/Release.key | sudo apt-key add -"

- name: Install 'skopeo'
  apt:
    name: skopeo
    state: present
    update-cache: yes

- name: Ensure default ubuntu user is removed
  user:
    name: ubuntu
    state: absent
    remove: yes

- name: Hash user password (needed for MacOS compatibility)
  shell: "openssl passwd -salt {{ 9999 | random }} -1 {{ cluster_user_password }}"
  register: hash_password_command_output
  become: false
  delegate_to: 127.0.0.1

- name: "Ensure '{{ cluster_user }}' has the default password"
  user:
    name: "{{ cluster_user }}"
    state: present
    shell: /bin/bash
    password: "{{ hash_password_command_output.stdout }}"

- name: Install system packages
  apt:
    pkg:
    - unzip
    - nfs-common

- name: "Ensure '{{ cluster_disk_mount_point }}' mount point is set according to cluster_disk: '{{ cluster_disk }}'"
  file:
    path: "{{ cluster_disk_mount_point }}"
    state: "{{ 'directory' if cluster_disk == 'present' else 'absent' }}"

- name: "Ensure auto-mount options for '{{ cluster_disk_label }}' are set according to cluster_disk: '{{ cluster_disk }}'"
  lineinfile:
    path: /etc/fstab
    regexp: "LABEL={{ cluster_disk_label }}"
    state: "{{ cluster_disk | default (absent) }}"
    line: "LABEL={{ cluster_disk_label }}       {{ cluster_disk_mount_point }}  ext4    defaults        0       1"
  when: cluster_disk_label is defined
