---

- name: Create '/boot/firmware/' directory
  file:
    path: /boot/firmware/
    state: directory

- name: Configure boot options (enable cgroup)
  shell: "echo '{{ boot_options }}' > /boot/firmware/cmdline.txt"

- name: Install network tools
  apt:
    name: net-tools
    state: present
    update-cache: yes

- name: Add Kubic repo
  shell: ". /etc/os-release && echo \"deb https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_${VERSION_ID}/ /\" | sudo tee /etc/apt/sources.list.d/devel:kubic:libcontainers:stable.list && curl -L https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_${VERSION_ID}/Release.key | sudo apt-key add -"

- name: Install 'skopeo'
  apt:
    name: skopeo
    state: present
    update-cache: yes

- name: Ensure default ubuntu user is removed
  user:
    name: ubuntu
    state: absent
    remove: yes

- name: "Ensure '{{ cluster_user }}' have a default password"
  user:
    name: "{{ cluster_user }}"
    state: present
    shell: /bin/bash
    password: "{{ 'cluster_user_password' }}"

- name: Install system packages
  apt:
    pkg:
    - unzip
    - nfs-common

- name: Auto-mount 'cluster-disk' when 'has_disk' is true
  lineinfile:
    path: /etc/fstab
    regexp: "LABEL=cluster-disk"
    line: "LABEL=cluster-disk       /mnt/disks/ssd1  ext4    defaults        0       1"
  when: has_disk|default(false)|bool == true
